<!DOCTYPE html>
<html lang="en">

<head>
    <title>CarportSelection</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>

<body>
<h1> Design din carport!</h1>
<div id="CarportForm">
    <form method="post" class="selector-form">
        <h3>Længde i meter</h3>
        <select type="number" name="længde">
            <option>6</option>
        </select>
        <h3>Bredde i meter</h3>
        <select type="number" name="bredde">
            <option>7.8</option>
        </select><br><br>
        <input type="checkbox" id="skur" name="skur" value="skur">
        <label for="skur">Tilføj skur</label> <br><br>
        <h3>Skur-længde i meter</h3>
        <select type="number" name="skur-Længde">
            <option>6</option>
        </select><br><br>
        <h3>Skur-bredde i meter</h3>
        <select type="number" name="skur-Bredde">
            <option>2.2</option>
        </select><br><br>
        <button class="accept-btn" formaction="/createOrder">Godkend mål</button>
    </form>
</div>

</body>
</html>