<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Confirm Offer Request</title>

    <link href="../public/css/confirmOfferRequest.css" th:href="@{/css/confirmOfferRequest.css}" rel="stylesheet"/>
</head>
<body>


<div class="background">


    <div id="subheader-when-logged-in">
        <button>Your orders</button>
        <button>Messages</button>
        <button>Your account</button>

    </div>

    <div id="headline">
        <p>Your carport</p>
    </div>


    <div id="body-box">
        <div id="blueprint-text-and-box-box">

            <div id="blueprint-text">
            <p>Here is a blueprint of the carport you're about to request an offer for:</p>
            </div>

          <div id="blueprint-box">
            <p>[blueprint]</p>
          </div>

        </div>


        <div id="measurements-box">

            <div id="carport-length-box" class="measurements-boxes">
            <p class="measurements measurements-parameters">Length:</p>
            <p th:text="${#ctx.session.order.length}" class="measurements chosen-measurements"> th-generated length</p>
            </div>

            <div id="carport-width-box" class="measurements-boxes">
            <p class="measurements measurements-parameters">Width:</p>
            <p th:text="${#ctx.session.order.width}" class="measurements chosen-measurements"> th-generated width</p>
            </div>

            <div id="shed-or-not-box" class="measurements-boxes">
            <p class="measurements measurements-parameters">Shed:</p>
            <p th:if="${#ctx.session.order.yesOrNo}" class="measurements chosen-measurements"> Yes </p>
            <p th:if="${!#ctx.session.order.yesOrNo}" class="measurements chosen-measurements"> No </p>
            </div>

            <div id="shed-length" class="measurements-boxes">
            <p th:if="${#ctx.session.yesOrNo}" class="measurements measurements-parameters"> Shed length: </p>
            <p th:text="${#ctx.session.order.shedLength}" class="measurements chosen-measurements"> h-generated shed length</p>
            </div>

            <div id="shed-width" class="measurements-boxes">
            <p th:if="${#ctx.session.yesOrNo}" class="measurements measurements-parameters"> Shed width: </p>
            <p th:text="${#ctx.session.order.shedWidth}" class="measurements chosen-measurements"> h-generated shed width</p>
            </div>

        </div>


        <div id="back-button-and-confirm-button">
            <div id="go-back-and-edit-carport-button-box" >
                <a href="/carportSelection">
                    <button id="go-back-and-edit-carport-button" class="bottom-buttons">Go back and edit carport</button>
                </a>

            </div>

            <form id="confirm-offer-button-box" method="post">
                <button id="confirm-offer-button" class="bottom-buttons" formaction="/offerRequested">Confirm</button>
            </form>


        </div>

    </div>

</div>


</body>
</html>