<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>createUser</title>
  <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<h1>Create user</h1>
<form method="post">
  <input type="text" name="firstName" placeholder="firstName"/><br>
    <input type="text" name="lastName" placeholder="lastName"/><br>
    <input type="text" name="E-mail" placeholder="E-mail"/><br>
  <input type="password" name="password" placeholder="password"/><br>
  <!-- <label for="salesperson">Er du salesperson</label>
   <input type="checkbox" id="salesperson" name="salesperson"><br>  -->
  <button type="submit" formaction="/createUser" class="create-user">Create user</button>

  <p th:text="${#ctx.message}"></p>

</form>
</body>
</html>