<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="../public/css/loginStyle.css" th:href="@{/css/loginStyle.css}" rel="stylesheet"/>
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<a href="/login">
    <button type="button">Login</button>
</a>
<a href="/createOrder">
    <button type="button">Lav en odre</button>
</a>
<a href="/home_button">
   <button type="button">FOG</button>
    </a>
<a href="/getAllOrders">
    <button type="button">Orders</button>
</a>
</body>