<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link href="../public/css/item.css" th:href="@{/css/item.css}" rel="stylesheet"/>
</head>
<body>

  <h2>Add Item</h2>
  <form action="/insert" method="post">

    <input type="text" name="price_pr_unit" placeholder="price_pr_unit" required><br>
    <input type="text" name="length" placeholder="length" required><br>
    <input type="text" name="unit" placeholder="unit" required><br>
    <input type="text" name="description" placeholder="description" required><br>
    <input type="submit" value="Add Item">
  </form>

  <h2>Remove Item</h2>
  <form action="/remove" method="post">

    <input type="text" name="item_id" placeholder="item_id" required><br>
    <input type="submit" value="Remove Item">
  </form>
</form>

</body>
</html>