<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Offer Requested</title>
    <link href="../public/css/fragments.css" th:href="@{/css/fragments.css}" rel="stylesheet"/>
    <link href="../public/css/customersOrderDetails.css" th:href="@{/css/customersOrderDetails.css}" rel="stylesheet"/>
</head>

<body>
<div th:replace="~{fragments :: formField (currentpage='/')}"></div>

<div class="background">
    <div class="close-button-div">
        <form method="post">
            <button type="submit" formaction="/customersAllOrders" id="close-button"><</button>
        </form>
    </div>

    <div class="headline-and-order-status">

        <div class="headline-div">
            <span id="headline">Carport</span>
            <span th:if="${#ctx.session.orderToShow.getCarport().isShed()}" id="headline-with-shed">(med skur)</span>
        </div>
        <div id="order_status">
            <span th:if="${#ctx.session.orderToShow.getStatus().toString().equals('CUSTOMER_ACCEPTED') || #ctx.session.orderToShow.getStatus().equals('READY_FOR_REVIEW')}"> FORESPØRGSEL PÅ TILBUD SENDT </span>
            <span th:if="${#ctx.session.orderToShow.getStatus().toString().equals('PRICE_PRESENTED')}"> TILBUD </span>
            <span th:if="${#ctx.session.orderToShow.getStatus().toString().equals('ORDER_PAID')}"> BESTILT OG BETALT </span>

        </div>

    </div>


    <div class="sub-body-div">

        <form method="post" class="carport-measurements-form">

            <div class="carport-measurements-div">
                <div class="shed-no-shed-div">
                    <span>Carport:</span>
                </div>
                <div class="carport-length-and-width-div">

                    <div class="length-and-width-text-div">
                        <span class="length-and-width-text">Længde i meter:</span>
                        <select name="længde" class="selector">
                            <option selected="selected"
                                    th:text="${#ctx.session.orderToShow.getCarport().getLength()}"></option>
                            <option>2.4</option>
                            <option>3</option>
                            <option>3.6</option>
                            <option>4.2</option>
                            <option>4.8</option>
                            <option>5.4</option>
                            <option>6</option>
                            <option>6.6</option>
                            <option>7.2</option>
                            <option>7.8</option>
                        </select>
                    </div>

                    <div class="length-and-width-text-div">

                        <span class="length-and-width-text">Bredde i meter:</span>
                        <select class="selector" name="bredde">
                            <option selected="selected"
                                    th:text="${#ctx.session.orderToShow.getCarport().getWidth()}"></option>
                            <option>2.4</option>
                            <option>3</option>
                            <option>3.6</option>
                            <option>4.2</option>
                            <option>4.8</option>
                            <option>5.4</option>
                            <option>6</option>
                        </select>
                    </div>
                </div>


                <div class="shed-no-shed-div">
                    <span th:if="${#ctx.session.orderToShow.getCarport().isShed()}">Skur:</span>
                </div>

                <div th:if="${#ctx.session.orderToShow.getCarport().isShed()}" class="carport-length-and-width-div">

                    <div class="length-and-width-text-div">

                        <span class="length-and-width-text">Længde i meter:</span>

                        <select class="selector" name="skurLængde">
                            <option selected="selected"
                                    th:text="${#ctx.session.orderToShow.getCarport().getShed().getLength()}"></option>
                            <option>2.4</option>
                            <option>3</option>
                            <option>3.6</option>

                        </select>
                    </div>

                    <div class="length-and-width-text-div">
                        <span class="length-and-width-text"> Bredde i meter: </span>

                        <select class="selector" name="skurBredde">
                            <option selected="selected"
                                    th:text="${#ctx.session.orderToShow.getCarport().getShed().getWidth()}"></option>
                            <option>2.4</option>
                            <option>3</option>
                            <option>3.6</option>
                            <option>4.2</option>
                            <option>4.8</option>
                            <option>5.4</option>
                            <option>6</option>

                        </select>

                    </div>
                </div>
            </div>


            <div id="carport-blueprint-div">

                <span class="blueprint-of-carport-text">Blueprint af din carport:</span>

                <div class="blueprint-div">
                    <p>[svg tegning]</p>
                </div>

            </div>


            <div class="calculate-new-offer-and-price-and-send-offer-div">

                <div th:if="${#ctx.session.orderToShow.getStatus().toString().equals('CUSTOMER_ACCEPTED')
                || #ctx.session.orderToShow.getStatus().toString().equals('ORDER_ASSIGNED')}"
                     class="calculate-new-offer">

                    <button class="send-offer-button" type="submit" name="sendOffer"
                            th:value="${#ctx.session.orderToShow}"
                            formaction="/calculateNewOffer"> Beregn nyt tilbud
                    </button>

                </div>

                <div class="price-div">

                    <span class="price-text-">Pris: </span>
                    <span class="price" th:text="${#ctx.session.orderToShow.getPrice()}"> 35.475,-</span>
                    <span>,-</span>

                </div>
                <div th:if="${#ctx.session.orderToShow.getStatus().toString().equals('CUSTOMER_ACCEPTED')
                || #ctx.session.orderToShow.getStatus().toString().equals('ORDER_ASSIGNED')}">
                    <button
                            class="send-offer-button" type="submit" name="sendOffer"
                            th:value="${#ctx.session.orderToShow}"
                            formaction="/sendOffer"> Send tilbud
                    </button>
                </div>


            </div>

            <span class="sql-exception" th:text="${#ctx.sqlException}"></span>

            <div th:if="${#ctx.session.orderToShow.getStatus().toString().equals('ORDER_PAID')}" class="order-paid-div">

                <span class="partslist-text">Stykliste:</span>

                <table th:if="${#ctx.showPartsList.equals('show')}" class="table-showing-partslist">

                    <tr>
                        <th style="width: 7%">Antal:</th>
                        <th style="width: 5%"> -</th>
                        <th style="width: 11%">Carportdel:</th>
                        <th style="width: 44%">Materiale:</th>
                        <th style="width: 10%">Længde:</th>
                        <th style="width: 12%">Pris pr. styk:</th>
                        <th style="width: 16%">Samlet pris:</th>

                    </tr>
                    <tr th:each="item: ${#ctx.session.orderToShow.getCarport().getItemList().getItemList()}">
                        <td th:text="${item.quantity}"></td>
                        <td th:text="${item.unit}"></td>
                        <td th:text="${item.carport_part}"></td>
                        <td th:text="${item.description}"></td>
                        <td th:text="${item.length + ' m'}"></td>
                        <td th:text="${item.price_pr_unit + ' ,-'}"></td>
                        <td th:text="${#ctx.session.orderToShow.getPricePerQuantityOfItem().get(item) + ' ,-'}"></td>

                    </tr>
                </table>


                <div class="order-paid-price-div"
                     th:if="${#ctx.session.orderToShow.getStatus().toString().equals('ORDER_PAID')}">
                    <span class="order-paid-price-text">Pris: </span>
                    <span class="order-paid-price" th:text="${#ctx.session.orderToShow.getPrice()}"> 35.475,-</span>
                    <span>,-</span>
                </div>

            </div>
        </form>
    </div>
</div>


</body>
</html>