<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<title>All orders</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
<link href="../public/css/fragments.css" th:href="@{/css/fragments.css}" rel="stylesheet"/>
<link href="../public/css/customersOrderDetails.css" th:href="@{/css/customersOrderDetails.css}" rel="stylesheet"/>
</head>


<body>
<div th:replace="~{fragments :: formField (currentpage='/')}"></div>


<div class="all-order-sub-body-div">
    <p>Alle Ordrer</p>

    <table class="all-orders-table">
        <tr>
            <th>Dato for forespørgsel på tilbud</th>
            <th>Ordrestatus</th>
            <th></th>
        </tr>

        <tr th:each="order: ${#ctx.session.allOrders}">


            <td th:text="${order.getDate()}"></td>
            <td th:text="${order.getStatus()}"></td>

            <td>
                <form method="post">

                    <button th:if="${order.getSalespersonId() == 0}" id="take-button" type="submit"
                            formaction="/salespersonTakeOrder"
                            name="salespersonTakeOrder" th:value="${order.getId()}">
                        Tag ordre
                    </button>

                    <button th:if="${order.getSalespersonId() != 0 && order.getSalespersonId() == #ctx.session.currentUser.getId()}"
                            class="untake-button" type="submit" formaction="/salespersonUntakeOrder"
                            name="salespersonUntakeOrder" th:value="${order.getId()}">
                        Fjern dig fra ordre
                    </button>

                    <button th:if="${order.getSalespersonId() != 0 && order.getSalespersonId() != #ctx.session.currentUser.getId()}"
                            class="taken-button" disabled
                            name="ordreTaget" th:value="${order.getId()}">
                        Ordre taget
                    </button>
                </form>
            </td>

        </tr>

    </table>

</div>

<!--
    <h2>Alle ordre</h2>
    <table class="salesperson-all-orders-table">
        <thead>
            <tr>
                <th>Order id</th>
                <th>Customer id</th>
                <th>Salesperson id</th>
                <th>Date</th>
                <th>Order satus</th>
                <th>Carport</th>
                <th>Receipt</th>
                <th>Price</th>

            </tr>
        </thead>
        <tbody>
            <tr th:each="order : ${#ctx.session.allOrders}">
                <td th:text="${order.id}">id</td>
                <td th:text="${order.customerId}">customerId</td>
                <td th:text="${order.salespersonId}">salesPersonId</td>
                <td th:text="${order.date}">date</td>
                <td th:text="${order.status}">status</td>
                -->

<!--<td th:text="${order.carport.id}">carport</td>-->

<!--
                <td>PLASE HOLDER NEEDS TO BE SOMETHING RELAVANT</td>
                <td th:text="${order.receipt}">resipt</td>
                <td th:text="${order.price}">price</td>

            </tr>
        </tbody>
    </table>
    -->

</body>
</html>